<div class="usa-grid"> 
  <div class="usa-width-one-whole">
  <h3 style="font-family: 'Poppins'; COLOR: #515151;">ANNUAL REPORTING SCHEDULE</h3>
  <table>
    <thead>
        <tr>
          <th></th>
          <th>FY Q1</th>
          <th>FY Q2</th>
          <th>FY Q3</th>
          <th>FY Q4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <th>Esitmated Deadline</th>
           <td>January</td>
           <td>April</td>
           <td>July</td>
           <td>October</td>
        </tr>
      <tr>
           <th>Reporting</th>
           <td>Q1 CIO FISMA Reporting<br> Annual HVA Reporting</td>
           <td>Q2 CIO FISMA Reporting</td>
           <td>Q3 CIO FISMA Reporting</td>
           <td>Annual CIO FISMA Reporting <br>Annual IG FISMA Reporting<br>Annual SAOP FISMA Reporting</td>
        </tr>
      <tr>
           <th>Responsible Parties</th>
           <td>CFO Act Agencies (required)<br>Small agencies (optional)</td>
           <td>All Civilian Agencies</td>
           <td>CFO Act Agencies (required)<br>Small agencies (optional)</td>
           <td>All Civilian Agencies</td>
        </tr>
    </tbody>
   </table>
  </div>
</div>
