<link rel="stylesheet" href="{{ '/assets/mind-map/Treant.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/mind-map/collapsable.css' | prepend: site.baseurl }}">
  <script src="{{ site.baseurl }}/assets/mind-map/vendor/raphael.js"></script>
  <script src="{{ site.baseurl }}/assets/mind-map/Treant.js"></script>
  <script src="{{ site.baseurl }}/assets/mind-map/vendor/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/mind-map/vendor/jquery.easing.js"></script>
  
<div class="chart Treant loaded" id="collapsable-example"></div>


  <script>
  var chart_config = {
 chart: {
   container: "#collapsable-example",
	levelSeparation: 60,
   animateOnInit: true,

   node: {
     collapsable: true
   },
   connectors:{
   	 type:"step",
     style: {
     	'stroke': '#707070',
      'stroke-width': '2'
     }
   },
   animation: {
     nodeAnimation: "easeInOutQuart",
     nodeSpeed: 900,
     connectorsAnimation: "easeInSine",
     connectorsSpeed: 450
   }
 },
 nodeStructure: {
   HTMLclass: "governance",
   text: {
     name: "GOVERNANCE"

   },
   children: [{
       text: {
         name: "Law ⯆"
       },
       HTMLclass: 'law',
       collapsed: true,
       children: [{
           HTMLclass: 'law-child',
           text: {
             name: "FISMA",
             desc: "Federal	Information	Security	Modernization	Act",
             contact: {
               val: "➟",
               href: "https://www.dhs.gov/fisma"
             }
           },
         },
         {
           HTMLclass: 'law-child',
           text: {
             name: "CISA",
             desc: "Cybersecurity Act of 2015",
             contact: {
               val: "➡",
               href: "https://www.congress.gov/114/bills/s754/BILLS-114s754es.pdf"
             }
           },
         },
         {
           HTMLclass: 'law-child',
           text: {
             name: "FY 16 Report",
             desc: "FY16 FISMA Annual Report to Congress",
             contact: {
               val: "➡",
               href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/briefing-room/presidential-actions/related-omb-material/fy_2016_fisma_report%2520to_congress_official_release_march_10_2017.pdf"
             }
           },
         },
       ]
     },
     {
       stackChildren: true,
       text: {
         name: "Guidance ⯆"
       },
       HTMLclass: 'guidance',
       collapsed: true,
       children: [{
           HTMLclass: 'guidance-child',
           text: {
             name: "FedRAMP",
             desc: "Government-wide Authorized Cloud Service Providers",
             contact: {
               val: "➡",
               href: "https://www.fedramp.gov",

             }
           }
         },
         {
           HTMLclass: 'guidance-child',
           text: {
             name: "FICAM",
             desc: "Federal Identity, Credential, and Access Managemen",
             contact: {
               val: "➡",
               href: "https://www.idmanagement.gov",
             }
           },
           children: [{
             HTMLclass: 'guidance-child',
             text: {
               name: "Roadmap",
               desc: "FICAM Roadmap and Implementation Guidance",
             }
           }, ]
         },
         {
           HTMLclass: 'guidance-child',
           text: {
             name: "CNAP",
             desc: "Cybersecurity National Action Plan",
             contact: {
               val: "➡",
               href: "https://obamawhitehouse.archives.gov/the-press-office/2016/02/09/fact-sheet-cybersecurity-national-action-plan",

             }
           }
         },
         {
           HTMLclass: 'guidance-child',
           text: {
             name: "CNCI",
             desc: "Comprehensive National Cybersecurity Initiative",
             contact: {
               val: "➡",
               href: "https://obamawhitehouse.archives.gov/node/233086https://obamawhitehouse.archives.gov/node/233086",

             }
           }
         },
         {
           HTMLclass: 'guidance-child',
           text: {
             name: "Cyber Strat Plan",
             desc: "2016 Federal Cybersecurity Research and Development Strategic Plan",
             contact: {
               val: "➡",
               href: "https://obamawhitehouse.archives.gov/sites/whitehouse.gov/files/documents/2016_Federal_Cybersecurity_Research_and_Development_Stratgeic_Plan.pdf",

             }
           }
         },
         {
           HTMLclass: 'guidance-child',
           text: {
             name: "TechFAR",
             desc: "Technical Federal Acquistion Regulation Handbook",
             contact: {
               val: "➡",
               href: "https://playbook.cio.gov/techfar/",

             }
           }
         }
       ]
     },
     {
       text: {
         name: "Policy ⯆"
       },
       HTMLclass: 'policy',
       collapsed: true,
       children: [{
           collapsed: true,
           HTMLclass: 'policy-child',
           text: {
             name: "OMB Level ⯆",
             desc: "",
             contact: {
               val: "➡",
               href: "https://www.whitehouse.gov/omb/information-for-agencies/memoranda",

             },
           },
           children: [{
           collapsed: true,
             HTMLclass: 'policy-grandchild',
             text: {
               name: "Circulars ⯆",
               desc: "",
              
             },
             children:[{
             HTMLclass: 'policy-grandchild',
             
             text: {
               name: "A-108",
               desc: "Federal Agency Responsibilities for Review, Reporting, and Publication under the Privacy Act",
               contact: {
                 val: "➡",
                 href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/circulars/A108/omb_circular_a-108.pdf",
               }
             },

           },
           {
             HTMLclass: 'policy-grandchild',
             text: {
               name: "A-130",
               desc: "OMB Circular A-130: Managing Information as a Strategic Resource",
               contact: {
                 val: "➡",
                 href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/circulars/A130/a130revised.pdf",
               }
             }
           },
             
             ]
            },
             {
             HTMLclass: 'policy-grandchild',
             collapsed: true,
             text: {
               name: "Memorandum ⯆",
               desc: "",
              
             },
             children: [
              {
              HTMLclass: 'policy-grandchild',
             	collapsed: true,
             	text: {
               name: "2010 ⯆",
               desc: ""},
              children:[ {
             HTMLclass: 'policy-grandchild',
             text: {
               name: "M-10-22",
               desc: "Guidance for Online User of Web measurement and Customization Technologies",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/memoranda_2010/m10-22.pdf",
               }
             }
           },
                   {
                     HTMLclass: 'policy-grandchild',
                     text: {
                       name: "M-10-23",
                       desc: "Guidance for Use of Third-Party Websites and Applications",
                       contact: {
                         val: "➡",
                         href: "https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/memoranda_2010/m10-23.pdf",
                       }
                     }
      },
                   {
                     HTMLclass: 'policy-grandchild',
                     text: {
                       name: "M-10-28",
                       desc: "Clarifying Cybersecurity Responsibilities and Activities of the Executive Office of the President and the Department of Homeland Security (DHS)",
                       contact: {
                         val: "➡",
                         href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2010/m10-28.pdf",
                       }
                     }
      },]
               },
                 {HTMLclass: 'policy-grandchild',
             collapsed: true,
             text: {
               name: "2015 ⯆",
               desc: ""},
              children: [{
               HTMLclass: 'policy-grandchild',
               text: {
                 name: "M-15-01",
                 desc: "Guidance on Improving Federal Information Security and Privacy Management Practices",
                 contact: {
                   val: "➡",
                   href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2015/m-15-01.pdf",
                 }
               }
},
                   {
                     HTMLclass: 'policy-grandchild',
                     text: {
                       name: "M-15-13",
                       desc: "Secure Connections Across Federal Websites and Web Services",
                       contact: {
                         val: "➡",
                         href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2015/m-15-13.pdf",
                       }
                     }
},
                   {
                     HTMLclass: 'policy-grandchild',
                     text: {
                       name: "M-15-16",
                       desc: "Multi-Agency Science and Technology Priorities for the FY 2017 Budget",
                       contact: {
                         val: "➡",
                         href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2015/m-15-16.pdf",
                       }
                     }
},]
               },
                 {HTMLclass: 'policy-grandchild',
             collapsed: true,
             text: {
               name: "2016 ⯆",
               desc: ""},
              children: [{
               HTMLclass: 'policy-grandchild',
               text: {
                 name: "M-16-04",
                 desc: "Cyber Security Implementation Plan (CSIP) For Federal Civilian Governmen",
                 contact: {
                   val: "➡",
                   href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2016/m-16-04.pdf",
                 }
               }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-16-15",
                         desc: "Federal Cybersecurity Workforce Strategy",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2016/m-16-15.pdf",
                         }
                       }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-16-19",
                         desc: "Data Center Optimization Initiative (DCOI)",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2016/m_16_19_1.pdf",
                         }
                       }
},]
               },
                 {HTMLclass: 'policy-grandchild',
             collapsed: true,
             text: {
               name: "2017 ⯆",
               desc: ""},
              children: [ {
               HTMLclass: 'policy-grandchild',
               text: {
                 name: "M-17-02",
                 desc: "Precision Medicine Privacy and Security",
                 contact: {
                   val: "➡",
                   href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/m-17-02.pdf",
                 }
               }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-17-05",
                         desc: "FY 17-18 Guidance on Federal Information Security and Privacy Management Requirements",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/m-17-05.pdf",
                         }
                       }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-17-06",
                         desc: "Policies for Federal Agency Public Websites and Digital Services",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/m-17-06.pdf",
                         }
                       }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-17-09",
                         desc: "Management of Federal High Value Assets",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/m-17-09.pdf",
                         }
                       }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-17-12",
                         desc: "Preparing for and Responding to a Breach of Personally Identifiable Information (PII)",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/m-17-12_0.pdf",
                         }
                       }
},
                   {
                       HTMLclass: 'policy-grandchild',
                       text: {
                         name: "M-18-02",
                         desc: "Fiscal Year 2017-2018 Guidance on Federal Information Security and Privacy Management Requirements",
                         contact: {
                           val: "➡",
                           href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/M-18-02%2520%2528final%2529.pdf",
                         }
                       }
}]
               },  
            ]
           },    
          ]
         },
         {
           collapsed: true,
           HTMLclass: 'policy-child',
           text: {
             name: "Executive Level ⯆",
             desc: "",
           },
 
           children: [
           {
           collapsed: true,
           HTMLclass: 'policy-child',
           text: {
             name: "Executive Order ⯆",
             desc: "",},
           children: [           
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "EO 13556",
               desc: "Controlled Unclassified Information",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/the-press-office/2010/11/04/executive-order-13556-controlled-unclassified-information",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "EO 13636",
               desc: "Improving Critical Infrastructure Cybersecurity",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/the-press-office/2013/02/12/executive-order-improving-critical-infrastructure-cybersecurity",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "EO 13681",
               desc: "Improving the Security of Consumer Financial Transactions",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/the-press-office/2014/10/17/executive-order-improving-security-consumer-financial-transactions",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "EO 13691",
               desc: "Promoting Private Sector Cybersecurity Information Sharing",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/the-press-office/2015/02/13/executive-order-promoting-private-sector-cybersecurity-information-shari",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "EO 13800",
               desc: "Strengthening the Cybersecurity of Federal Networks and Critical Infrastructure",
               contact: {
                 val: "➡",
                 href: "https://www.whitehouse.gov/the-press-office/2017/05/11/presidential-executive-order-strengthening-cybersecurity-federal",
               }
             }
           }]
             },
						 {
           collapsed: true,
           HTMLclass: 'policy-child',
           text: {
             name: "Presidential Policy Directive ⯆",
             desc: "",},
           children: [{
             HTMLclass: 'policy-grandchild',
             text:{
               name: "PPD-7",
               desc: "Critical Infrastructure, Prioritaization, and Protection",
               contact: {
                 val: "➡",
                 href: "https://www.dhs.gov/homeland-security-presidential-directive-7",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "PPD-21",
               desc: "Critical Infrastructure Security and Resilience",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/the-press-office/2013/02/12/presidential-policy-directive-critical-infrastructure-security-and-resil",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "PPD-41",
               desc: "United States Cyber Incident Coordination",
               contact: {
                 val: "➡",
                 href: "https://obamawhitehouse.archives.gov/the-press-office/2016/07/26/presidential-policy-directive-united-states-cyber-incident",
               }
             }
           }]
             },  
              {
           collapsed: true,
           HTMLclass: 'policy-child',
           text: {
             name: "Homeland Security Presidential Directive ⯆",
             desc: "",},
           children: [
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "HSPD-12",
               desc: "Homeland Security Presidential Directive-12",
               contact: {
                 val: "➡",
                 href: "https://hspd12.usda.gov/",
               }
             }
           },
           {
             HTMLclass: 'policy-grandchild',
             text:{
               name: "HSPD-20",
               desc: "National Coninuity Policy",
               contact: {
                 val: "➡",
                 href: "http://policy.defense.gov/portals/11/Documents/hdasa/references/HSPD-20.pdf",
               }
             }
           },
           {
             HTMLclass: 'policy-declassified',
             text:{
               name: "HSPD-23",
               desc: "Homeland Security Presidential Directive 23 - DECLASSIFIED, not available on .gov domain",
             }
           }]
             },
           ]
         },
         
         {
           HTMLclass: 'policy-grandchild',
           text: {
             name: "FCD-1",
             desc: "Federal Continuity Directive 1",
             contact: {
               val: "➡",
               href: "https://www.fema.gov/media-library-data/1486472423990-f640b42b9073d78693795bb7da4a7af2/January2017FCD1.pdf",
             }
           },
         },
         {
           HTMLclass: 'policy-child',
           text: {
             name: "DHS BOD ⯆",
             desc: "Department of Homeland Security Binding Operational Directives",
             contact: {
             	val: "."
             },
           },
           	 
           collapsed: true,
           children: [{
           HTMLclass: 'policy-grandchild',
           text:{
             name: "17-01",
             desc: "Use of Kaspersky Products on Federal Information Systems",
             contact:{
               val: "➡",
               href: "https://www.dhs.gov/news/2017/09/13/dhs-statement-issuance-binding-operational-directive-17-01",
             }
            }
           },
           {
           HTMLclass: 'policy-grandchild',
           text:{
             name: "18-01",
             desc: "Enhance Email and Web Security",
             contact:{
               val: "➡",
               href: "https://cyber.dhs.gov/",
             }
            }
           }]
         }
       ]
     },
     {
       text: {
         name: "Standards ⯆"
       },
       collapsed: true,
       HTMLclass: 'standards',
       childrenDropLevel: 1,
       children: [
         {
         collapsed: true,
         HTMLclass: 'standards-child',
         text:{
           name:"Publications ⯆",
           contact: {
             val: "➡",
             href: "https://csrc.nist.gov/publications",
           }
          },
          children: [{
          collapsed: true,
          HTMLclass: 'standards-child',
          text: {
          	name: "Federal Information Processing Standard ⯆",
          	},
          children: [{
           HTMLclass: 'standards-grandchild',
           text: {
             name: "FIPS 199",
             desc: "Standards for Security Categorization of Federal Information and Information Systems",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.199.pdf",
             }
           }
         },
             {
               HTMLclass: 'standards-grandchild',
               text: {
                 name: "FIPS 200",
                 desc: "Minimum Security Requirements for Federal Information and Information Systems",
                 contact: {
                   val: "➡",
                   href: "http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.200.pdf",
                 }
               }
},
             {
               HTMLclass: 'standards-grandchild',
               text: {
                 name: "FIPS 201-2",
                 desc: "Personal Identity Verification (PIV) of Federal Employees and Contractors",
                 contact: {
                   val: "➡",
                   href: "http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.201-2.pdf",
                 }
               }
},]
          },
          {
         HTMLclass: 'standards-child',
         collapsed: true,
         text:{
         		name: "Special Publications ⯆"
         },
         children: [ 
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-18",
             desc: "Guide for Developing Security Plans for Federal Information Systems",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-18r1.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-30",
             desc: "Information Security",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-30r1.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-37",
             desc: "Guide for Applying the Risk Management Framework to Federal Information Systems (A Security Life Cycle Approach)",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-37r1.pdf",
             }
           },
  
           children: [
           {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-53/A",
             desc: "Assessing Security and Privacy Controls",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53Ar4.pdf",
             }
           }
         },
           {
             HTMLclass: 'standards-grandchild',
             text: {
               name: "NIST SP 800-53",
               desc: "Security and Privacy Controls for Federal Information Systems and Organizations",
               contact: {
                 val: "➡",
                 href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53r4.pdf",
               }
             }
},
           {
             HTMLclass: 'standards-grandchild',
             text: {
               name: "NIST SP 800-59",
               desc: "Guideline for Identifying an Information System as a National Security System",
               contact: {
                 val: "➡",
                 href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-59.pdf",
               }
             },
             children: [
             {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-63",
             desc: "Digital Identity Guidelines",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63-3.pdf",
             }
           }
         },
        		 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-72-2",
             desc: "Biometric Specifications for PIV",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-76-2.pdf",
             }
           }
         },
        		 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-73",
             desc: "Interfaces for Personally Identifiable Verification, Volume 1",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-73-4.pdf",
             }
           },
        
           children: [
           {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-116",
             desc: "A Recommendation for the Use of PIV Credentials in Physical Access Control Systems (PACS)",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-116.pdf",
             }
           }
         },
        	 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-122",
             desc: "Guide to Protecting the Confidentiality of Personally Identifiable Information (PII)",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-122.pdf",
             }
           }
         },
        	 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-137",
             desc: "Information Security Continuous Monitoring (ISCM) for Federal Information Systems and Organizations",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-137.pdf",
             }
           },
 
           children: [
            
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-162",
             desc: "Guide to Attribute Based Access Control (ABAC) Definition and Considerations",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-162.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-171",
             desc: "Protecting Controlled Unclassified Information in Nonfederal Information Systems and Organizations",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-171.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-181",
             desc: "National Initiative for Cybersecurity Education (NICE) Cybersecurity Workforce Framework",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-181.pdf",
             }
           }
         }
           ]
         },
       	 	 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-157",
             desc: "Guidelines for Derived Personal Identity Verification Credentials",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-157.pdf",
             }
           }
         },
      	   {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-161",
             desc: "Supply Chain Risk Management Practices for Federal Information Systems and Organizations",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-161.pdf",
             }
           }
         },
           
           ]
         },
         		 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-78",
             desc: "Cryptographic Algorithms and Key Sizes for Personal Identity Verification",
             contact: {
               val: "➡",
               href: "https://csrc.nist.gov/publications/detail/sp/800-78/4/final",
             }
           }
         },
        		 {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-79",
             desc: "Guidelines for the Authorization of Personal Identity Verification Card Issuers (PCI) and Derived PIV Credential Issuers (DPCI)",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-79-2.pdf",
             }
           }
         },
             
             ]
},
           {
             HTMLclass: 'standards-grandchild',
             text: {
               name: "NIST SP 800-60 Vol1",
               desc: "Volume 1: Guide for Mapping Types of Information and Information Systems into Security Categories",
               contact: {
                 val: "➡",
                 href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-60v1r1.pdf",
               }
             }
},
           {
             HTMLclass: 'standards-grandchild',
             text: {
               name: "NIST SP 800-60 Vol2",
               desc: "Volume II: Appendices for Guide",
               contact: {
                 val: "➡",
                 href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-60v2r1.pdf",
               }
             }
},
         ],},       
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-39",
             desc: "Managing Information Risk",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-39.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "NIST SP 800-47",
             desc: "Security Guide for Interconnecting Information Technology Systems",
             contact: {
               val: "➡",
               href: "http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-47.pdf",
             }
           }
         },]
       },]
         },
         
         
       {
         collapsed: true,
         stackChildren: true,
         HTMLclass: 'standards-child',
         text:{
           name:"Drafts ⯆",
           contact: {
           		val: ".",
           },
         },
         children: [
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-1",
             desc: "*DRAFT* Securing Electronic Health Records on Mobile Devices",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/hit-ehr-nist-sp1800-1-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-2",
             desc: "*DRAFT* Identity and Access Management for Electric Utilities",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/es-idam-nist-sp1800-2-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-3",
             desc: "*DRAFT* Attribute Based Access Control (ABAC)",
             contact: {
               val: "➡",
               href: "https://www.nccoe.nist.gov/library/attribute-based-access-control-nist-sp-1800-3-practice-guide",
             }
           },
           children:[
           {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-6",
             desc: "*DRAFT* DNS-Based Electronic Email Security",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/dns-secure-email-sp1800-6-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-7",
             desc: "*DRAFT* Situational Awareness for Electrical Utilities",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/es-sa-nist-sp1800-7-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-8",
             desc: "*DRAFT* Securing Wireless Infusion Pumps in Healthcare Delivery Organizations",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/hit-infusion-pump-nist-sp1800-8-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-9",
             desc: "*DRAFT* Access Rights Management for the Financial Sector",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/fs-arm-nist-sp1800-9-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-11b",
             desc: "*DRAFT* Data Integrity - Recovering from Ransomware and Destructive Events",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/publication/1800-11/VolB/",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-12",
             desc: "*DRAFT* Derived Personal Identity Verification (PIV) Credentials",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/derived-piv-nist-sp1800-12-draft.pdf",
             }
           }
         }
           ]
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-4",
             desc: "*DRAFT* Mobile Device Security: Cloud and Hybrid Builds",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/mds-nist-sp1800-4-draft.pdf",
             }
           }
         },
         {
           HTMLclass: 'standards-grandchild',
           text:{
             name:"NIST SP 1800-5",
             desc: "*DRAFT* IT Asset Management: Financial Services",
             contact: {
               val: "➡",
               href: "https://nccoe.nist.gov/sites/default/files/library/sp1800/fs-itam-nist-sp1800-5-draft.pdf",
             }
           }
         },
         
         ]
       },
       {
         collapsed: true,
         HTMLclass: 'standards-child',
         text:{
           name:"Other ⯆",
           contact: {
           		val: "."
           },
         },
         children: [{
           HTMLclass: 'standards-grandchild',
           text: {
             name: "Ongoing Authorization",
             desc: "Transitioning to Near Real-Time Risk Management",
             contact: {
               val: "➡",
               href: "http://ws680.nist.gov/publication/get_pdf.cfm?pub_id=916095"}
           },
         },
         {
           HTMLclass: 'standards-grandchild',
           text: {
             name: "Critical Infrastructure",
             desc: "Framework for Improving Critical Infrastructure Cybersecurity",
             contact: {
               val: "➡",
               href: "https://www.nist.gov/sites/default/files/documents/cyberframework/cybersecurity-framework-021214.pdf"}
           },
         }]
       }]
     },
   ]
 }
};

const tree = new Treant(chart_config);

  </script>
