<section class="usa-section usa-section-dark" style="background-color:#363f48;">

  <div class="usa-grid">

  <div class="usa-width-one-fourth">
	  <h4 class="footer_links_title">Agenda</h4>
      <a href="{{site.baseurl}}/agenda/priorities/" class="footer_links">Priorities</a><BR>
      <a href="{{site.baseurl}}/agenda/initiatives/" class="footer_links">Initiatives</a><BR>

  </div>

  <div class="usa-width-one-fourth">
    <h4 class="footer_links_title">Blog</h4>
    <a href="{{site.baseurl}}/tags/2018" class="footer_links">2018 Posts</a><BR>
    <a href="{{ site.baseurl }}/tags/2017" class="footer_links">2017 Posts</a><br>
    <a href="{{site.baseurl}}/tags/2016" class="footer_links">2016 Posts</a><br>
    <a href="{{site.baseurl}}/tags/2015" class="footer_links">2015 Posts</a><br>
	  </div>
	  

  <div class="usa-width-one-fourth">
	  <h4 class="footer_links_title">Resources</h4>
    	 <a href="{{ site.baseurl }}/resources/document-library/" class="footer_links">Document Library</a><BR>
  </div>
</div>
</section>
