---
layout: base
---
<section class="usa-section usa-section-dark">
  <div class="usa-grid">
    <h4> {{ page.hero-byline }}</h4>
    <h1 style="margin-top: 10px;"> {{ page.hero-text }}</h1>
  </div>
</section>
<br>
<div class="usa-grid usa-content">
    <div class="usa-width-three-fourths usa-content" id="main" tabindex="-1">
       {{ content }}
    </div>
      <aside class="usa-width-one-fourth">
          <h5>Tags:</h5>
          {% assign tags = site.tags | sort %}
           <ul class="tags">
          {% for tag in tags %}
              <a href="{{ site.baseurl }}/tags/{{ tag | first | slugify }}/">
                      <li class="tag">{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</li></a>
              </a>
          </ul>
          {% endfor %}
          <br><br>
      </aside>
</div>
