---
layout: base
---
<style>
	html {
		background-color:white;
	     }
	.center {
  		text-align: center;
		font-size: 20px;
		background-color:#F1F1F1;
		padding: 20px;
	}

</style>

  <link rel="stylesheet" href="../assets/css/style.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>

<section>
	<div class="usa-hero" style="background-image: url('../assets/img/banners/code-challenge-3.jpg')">
  <div class="usa-grid">
		<div class="usa-hero-callout usa-section hero-styling" style="background-color: rgba(17, 46, 81, 0.8); margin-top:7rem;margin-bottom:7rem;max-width:unset;">
			<center><h2 style="font-family: 'Raleway', sans-serif; COLOR: #ffffff; font-size: 40px; text-align: center"><span style="color:rgba(236, 0, 136)">Dev/Ops Challenge</span></h2>
				<br>
			<h4 style="COLOR: #ffffff; font-size: 24px; text-align: center;">Showcase your coding skills. Solve real-world challenges.</h4>
			<br><br><br>
			<h3 style=color:white;margin-top: 20px;">Third challenge ends in <span style="color:white;margin-top: 20px;"id="timer"></h3>
			<a class="usa-button" href="http://hr.gs/cio-gov-devops-code-challenge" style="width:200px" href="http://hr.gs/cio-gov-devops-code-challenge">Sign Up</a>

	</div>
</div>
  	<!--<img class="w3-image" src="../assets/img/banners/orange-hero.png" width="1500">-->
</div>
	</section>
	<section class="usa-section usa-section-dark">
		<div class="usa-grid usa-graphic_list-row">
					<center style="margin-bottom:0px;">
					<span style="font-size:18px;">The federal government must attract top IT talent to modernize federal IT systems and deliver the most secure and effective services to the American people. To recruit the best qualified IT talent, in the most timely and cost-effective manner, we need to transform the federal IT hiring process.<br><br>
					The CIO Council has partnered with technology hiring experts to pilot the first interagency code challenge. Code challenges are used extensively in the private sector to source and pre-qualify IT talent, and they are viewed as an industry best practice. The #CIOCode Challenge pilot program begins May 6 and includes three separate online skill assessments, which run for one month each.
					</span>
					</center>
					    <br> <br>

			</div>
	</section>
	<section class="usa-section">
	  <div class="usa-grid usa-graphic_list-row">

			<h2 style="margin-top:0px;" class="rs-heading"><span class="rs-2">&gt; </span>Code Challenge Timeline</h2>

			<div class="page">
				<div class="page__demo">
					<div class="main-container page__container">
						<div class="timeline">
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day"><font color="gray">6</font></span>
									<span class="timeline__month"><font color="gray">May</font></span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										<h4 class="rs-heading"><font color="gray">Challenge 1 Begins</font></h4>
										<font color="gray">Front End challenge kicks off. The Front End challenge tests HTML, CSS, JavaScript, and core UX/UI concepts.</font>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day"><font color="gray">9</font></span>
									<span class="timeline__month"><font color="gray">June</font></span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										<h4 class="rs-heading"><font color="gray">Challenge 1 Ends</font></h4>
										<font color="gray">Front End challenge closes.</font>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day"><font color="gray">10</font></span>
									<span class="timeline__month"><font color="gray">June</font></span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										<h4 class="rs-heading"><font color="gray">Challenge 2 Begins</font></h4>
										<font color="gray">Core CS challenge kicks off. The Core CS challenge tests problem-solving skills, coding knowledge, and fundamentals using a coding language of the participant's choice.</font>
									</div>
								</div>
							</div>
								<div class="timeline__box">
									<div class="timeline__date">
										<span class="timeline__day"><font color="gray">7</font></span>
										<span class="timeline__month"><font color="gray">July</font></span>
									</div>
									<div class="timeline__post">
										<div class="timeline__content">
											<h4 class="rs-heading"><font color="gray">Challenge 2 Ends</font></h4>
											<font color="gray">Core CS challenge closes.</font>
								</div>
										</div>
									</div>
									<div class="timeline__box">
										<div class="timeline__date">
											<span class="timeline__day">8</span>
											<span class="timeline__month">Jul</span>
										</div>
										<div class="timeline__post">
											<div class="timeline__content">
												<h4 class="rs-heading">Challenge 3 Begins</h4>
												Dev/Ops challenge kicks off. The Dev/Ops challenge tests technical experience (e.g., software development or network engineering) and software development operational best practices. <a href="http://hr.gs/cio-gov-devops-code-challenge">Sign up!</a>
											</div>
										</div>
									</div>
									<div class="timeline__box">
										<div class="timeline__date">
											<span class="timeline__day">7</span>
											<span class="timeline__month">Aug</span>
										</div>
										<div class="timeline__post">
											<div class="timeline__content">
												<h4 class="rs-heading">Challenge 3 Ends</h4>
												Dev/Ops challenge closes.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
<br>
				<section class="usa-section usa-section-dark">
					<div class="usa-grid usa-graphic_list-row">
								<center style="margin-bottom:0px;">
								<span style="font-size:20px;"> To join the conversation</span><br>
								<span style="font-size:45px;"> #CIOCode</span>
								</center>
								    <br><br>
									</div>
							</section>

	<!--<section class="cd-h-timeline js-cd-h-timeline margin-bottom--md">
	<!--<div class="center">-->

	<!--	<p>
			The federal government must attract top IT talent to modernize federal IT systems and deliver the most secure and effective services to the American people. To recruit the best qualified IT talent, in the most timely and cost-effective manner, we need to transform the federal IT hiring process.<br><br>
		</p>

		<p style="text-align: center;">
			The CIO Council has partnered with the technology hiring experts at HackerRank to pilot the first, large-scale, inter-agency code challenge. Code challenges are used extensively in the private sector to source and pre-qualify IT talent, and they are viewed as an industry best practice. The #CIOCode Challenge pilot program begins April 15 and includes three separate online skill assessments, which run for one month each.
		</p>-->

		<!--<p><button class="w3-button w3-blue" style="width:200px">Sign Up</button></p>
		<br>
		<h3 id="timer"></h3>-->

<!---	</div>-->

<!--
  <div class="w3-panel w3-padding-16 w3-light-grey">
    <div class="cd-h-timeline__container container">
      <div class="cd-h-timeline__dates" >
        <div class="cd-h-timeline__line" >
          <ol>
            <li style="color:#f48c00;font-weight:bold;font-size:1.0em;"><a id="orange" href="#0" data-date="16/01/2014" class="cd-h-timeline__date cd-h-timeline__date--selected">May 6<br />Core CS Begins</a></li>
            <li style="color:#f48c00;font-weight:bold;font-size:1.0em;"><a  id="orange"  href="#0" data-date="28/02/2014" class="cd-h-timeline__date">May 15<br />Core CS Ends</a></li>
            <li style="color:#0ec002;font-weight:bold;font-size:1.0em;"><a id="green"  href="#0" data-date="20/04/2014" class="cd-h-timeline__date">May 16<br />Front End Begins</a></li>
            <li style="color:#0ec002;font-weight:bold;font-size:1.0em;"><a id="green"  href="#0" data-date="20/05/2014" class="cd-h-timeline__date">June 15<br />Front End Ends</a></li>
            <li style="color:#0ec002;font-weight:bold;font-size:1.0em;"><a id="pink"  href="#0" data-date="09/07/2014" class="cd-h-timeline__date">July 16<br />Dev/OPS Begins</a></li>
            <li style="color:#0ec002;font-weight:bold;font-size:1.0em;"><a id="pink"  href="#0" data-date="30/08/2014" class="cd-h-timeline__date">August 15<br />Dev/OPS Ends</a></li>
            <!--<li><a href="#0" data-date="15/09/2014" class="cd-h-timeline__date">15 Sep</a></li>
            <li><a href="#0" data-date="01/11/2014" class="cd-h-timeline__date">01 Nov</a></li>
            <li><a href="#0" data-date="10/12/2014" class="cd-h-timeline__date">10 Dec</a></li>
            <li><a href="#0" data-date="19/01/2015" class="cd-h-timeline__date">29 Jan</a></li>
            <li><a href="#0" data-date="03/03/2015" class="cd-h-timeline__date">3 Mar</a></li>-->
  <!--        </ol>

          <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
        </div> <!-- .cd-h-timeline__line -->
      <!--   </div> <!-- .cd-h-timeline__dates -->

      <!--   <ul>
        <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
        <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
      </ul>
    </div> <!-- .cd-h-timeline__container -->

  <!--     <div class="cd-h-timeline__events">
      <ol>
        <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
          <div class="cd-h-timeline__event-content container">

            <h2 class="cd-h-timeline__event-title" style="COLOR:#f48c00; font-size: 24px;font-family:unset;">Code Challenge: Core CS Begins </h2>
            <em class="cd-h-timeline__event-date" style="font-size:19px;">May 6th, 2019 -</em>
            <span class="cd-h-timeline__event-description text--subtle" style="font-size:18px;" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </span>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
						<h2 class="cd-h-timeline__event-title" style="COLOR:#f48c00; font-size: 24px;font-family:unset;">Code Challenge: Core CS Ends</h2>
            <em class="cd-h-timeline__event-date" style="font-size:19px;">May 15, 2019 -</em>
              <span class="cd-h-timeline__event-description text--subtle" style="font-size:18px;" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </span>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            		<h2 class="cd-h-timeline__event-title" style="COLOR:#0ec002; font-size: 24px;font-family:unset;">Code Challenge: Front End Begins</h2>
            <em class="cd-h-timeline__event-date" style="font-size:19px;">May 16, 2019 -</em>
              <span class="cd-h-timeline__event-description text--subtle" style="font-size:18px;" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </span>
          </div>
        </li>

      <li class="cd-h-timeline__event text-component">
      	<div class="cd-h-timeline__event-content container">
      		<h2 class="cd-h-timeline__event-title" style="COLOR:#0ec002; font-size: 24px;font-family:unset;">Code Challenge: Front End Ends</h2>
            <em class="cd-h-timeline__event-date" style="font-size:19px;">June 15, 2019 -</em>
            <span class="cd-h-timeline__event-description text--subtle" style="font-size:18px;" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </span>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title" style="COLOR:#ec027e; font-size: 24px;font-family:unset;">Code Challenge: Dev/OPS Begins</h2>
            <em class="cd-h-timeline__event-date" style="font-size:19px;">July 16, 2019 -</em>
              <span class="cd-h-timeline__event-description text--subtle" style="font-size:18px;" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
          </span>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title" style="COLOR:#ec027e; font-size: 24px;font-family:unset;">Code Challenge: Dev/OPS Ends</h2>
            <em class="cd-h-timeline__event-date" style="font-size:19px;">August 15, 2019 -</em>
              <span class="cd-h-timeline__event-description text--subtle" style="font-size:18px;" >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </span>
          </div>
        </li>

        <!--<li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">September 15th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">November 1st, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">December 10th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">January 29th, 2015</em>
            <p class="cd-h-timeline__event-description text--subtle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">March 3rd, 2015</em>
            <p class="cd-h-timeline__event-description text--subtle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>-->
          <!--   </div>
        </li>
      </ol>
    </div> <!-- .cd-h-timeline__events -->
  <!-- </div>-->
  </section>
<script>
// Set the date we're counting down to
var countDownDate = new Date("August 7, 2019 17:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="timer"
  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "0 days - this challenge has ended!";
  }
}, 1000);
</script>
  <script src="../assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="../assets/js/swipe-content.js"></script> <!-- A Vanilla JavaScript plugin to detect touch interactions -->
  <script src="../assets/js/main.js"></script>
