---
layout: base
---


<picture>
  <source media="(min-width: 950px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header950.png">
  <source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header600.png">
  <source media="(min-width: 300px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header300.png">
  <img src=" {{ site.baseurl }}/assets/img/initiatives/reskilling-header950.png" alt="Federal Cyber Reskilling Academy" style="width:auto;">
</picture>
</div>
  <section class="usa-section" style="margin:0%;">
    <div class="usa-grid usa-content">
      <div class="usa-width-one-whole">
        <h2 class="rs-heading"><span class="rs-1">&gt; </span>Reskilling Cohort 1 </h2>
        The inaugural class includes current Federal employees who do not work in the IT field. The program helps them build foundational skills in the field of Cyber Defense Analysis.
        <br><br>
        Cohort 1 students will complete a three-month curriculum consisting of three training courses. The curriculum begins with a cyber essentials course and an on-site workshop, followed by four weeks of classes, exercises, and exams. Students then attend a “bootcamp” course live for six full days, followed by two weeks of study and a certification exam. The final course is another “bootcamp,” followed by additional study and a final certification exam. Students are required to pass each certification exam in order to move forward to the next level course.
       Students who successfully pass the certification exam move on to the final course, which follows a similar timeline.
        <br><br>
       Eligible applicants for Cohort 1 were contacted on February 19, 2019. If you applied and did not receive an email, or if you have a question, please contact <a href="mailto:Reskilling.Academy@cio.gov">Reskilling.Academy@cio.gov</a>.
       <br><br>
        Applicants selected for Cohort 1 will be notified starting April 1, 2019, and applicants must confirm their participation by April 15, 2019. Training runs April 15 through July 14, 2019.
        <br><br>
        See below for additional training program information and frequently asked questions.
        <br><br>
        <br><br>
        <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
        <br><br>
        <h2 style="margin-top:0px;" class="rs-heading"><span class="rs-2">&gt; </span>Program Timeline</h2>

        <div class="page">
          <div class="page__demo">
            <div class="main-container page__container">
              <div class="timeline">
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">30</span>
                    <span class="timeline__month">Nov</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Apply</h4>
                      The application process will run from November 30th through January 11th.
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">18</span>
                    <span class="timeline__month">Jan</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Application Deadline</h4>
                      The program will no longer accept applications after January 18th.
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">19</span>
                    <span class="timeline__month">Feb</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Assessments</h4>
                      The first assessments will be sent out starting February 19th to the applicants.<br><br>
                      Assessments will be emailed. No prior cybersecurity knowledge is necessary to complete this assessment. <br>
                      Only applicants that pass the assessment will be considered for the program.
                      <br><br>
                      The assessment period ends March 1st.
                    </div>
                  </div>
                </div>
                  <div class="timeline__box">
                    <div class="timeline__date">
                      <span class="timeline__day">1</span>
                      <span class="timeline__month">Apr</span>
                    </div>
                    <div class="timeline__post">
                      <div class="timeline__content">
                        <h4 class="rs-heading">Selection</h4>
                        The program will review, score, interview and select applicants. <br>Applicants will be notified of their selection starting April 1st and must confirm their participation by the time courses begin on April 15th.
                  </div>
                      </div>
                    </div>
                    <div class="timeline__box">
                      <div class="timeline__date">
                        <span class="timeline__day">15</span>
                        <span class="timeline__month">Apr</span>
                      </div>
                      <div class="timeline__post">
                        <div class="timeline__content">
                          <h4 class="rs-heading">Training</h4>
                          Training will run from April 15th through July 14th, 2019
                        </div>
                      </div>
                    </div>
                    <div class="timeline__box">
                      <div class="timeline__date">
                        <span class="timeline__day">15</span>
                        <span class="timeline__month">July</span>
                      </div>
                      <div class="timeline__post">
                        <div class="timeline__content">
                          <h4 class="rs-heading">Graduation</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="usa-width-one-whole">
            <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
            <h2 class="rs-heading"><span class="rs-3">&gt; </span>Training Program Schedule</h2>
            <table class="rs-table" style="border-collapse: collapse; max-width: 100%; border: 0px solid #ffffff;border-bottom-color: #ffffff;
            border-bottom-style: solid;
            border-bottom-width: 0px;">
              <tr>
              <th class="rs-table-header">START DATE</th>
              <th class="rs-table-header">END DATE</th>
              <th class="rs-table-header">TRAINING</th>
              <th class="rs-table-header">LOCATION</th>
            </tr>
            <tr>
              <td class="rs-td">4/15/2019</td>
              <td class="rs-td">4/18/2019</td>
              <td class="rs-td">CyberStart Essentials Live</td>
              <td class="rs-td">Washington, DC</td>
            </tr>
            <tr>
              <td class="rs-td">4/19/2019</td>
              <td class="rs-td">5/15/2019</td>
              <td class="rs-td">CyberStart Essentials</td>
              <td class="rs-td">Online</td>
            </tr>
            <tr>
              <td class="rs-td">5/16/2019</td>
              <td class="rs-td">5/24/2019</td>
              <td class="rs-td">SEC401 Live*</td>
              <td class="rs-td">Washington, DC</td>
            </tr>
            <tr>
              <td class="rs-td">5/25/2019</td>
              <td class="rs-td">6/16/2019</td>
              <td class="rs-td">Study/Labs for GSEC</td>
              <td class="rs-td">Online</td>
            </tr>
            <tr>
              <td class="rs-td">6/17/2019</td>
              <td class="rs-td">6/22/2019</td>
              <td class="rs-td">SEC504 Live</td>
              <td class="rs-td">Washington, DC</td>
            </tr>
            <tr>
              <td class="rs-td">6/23/2019</td>
              <td class="rs-td">7/14/2019</td>
              <td class="rs-td">Study/Labs for GCIH</td>
              <td class="rs-td">Online</td>
            </tr>
            <tr>
              <td class="rs-td">7/15/2019</td>
              <td class="rs-td">7/15/2019</td>
              <td class="rs-td">Graduation</td>
              <td class="rs-td">Washington, DC</td>
            </tr>
          </table>
          * * Training will take place Thursday and Friday (5/16-5/17) and Monday through Friday (5/20-5/24). No training over the weekend. 
            <br><br>
          </div>
          <div class="usa-width-one-whole">
            <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
            <h2 class="rs-heading"><span class="rs-1">&gt; </span>Frequently Asked Questions</h2>

            <h4 class="rs-heading">How much of my time will the Academy take up?</h4>
            The Academy is a three-month training program, and will be a full-time commitment during the live, in-person trainings in Washington, DC. Participants will also be expected to spend the majority of their time in between live trainings working through online material, completing labs, and studying for certification exams. While individuals may work through the Academy on-demand materials at different speeds, we expect the Academy to be a full-time or nearly full-time commitment for the duration of the program. Please work with your supervisor to ensure that you can fulfill the Academy requirements.
            <br><br><br>
            <h4 class="rs-heading">When will I hear about my application status?</h4>
            Applications will be reviewed throughout February and March 2019. Some applicants may be contacted by the admissions team with additional questions or for a brief interview. All applicants will be notified of the status of their application by April 1.
            <br><br><br>
            <h4 class="rs-heading">What are the application dates?</h4>
            Applications will open on November 30, 2018, and close at 11:59pm EST on January 18, 2019.
            <br><br><br>
            <h4 class="rs-heading">I submitted my application; what’s next?</h4>
            After completing the application, your USAJOBS profile will indicate that the application has been successfully submitted. Invitations to complete the assessment will be sent starting on February 19, 2019. Applicants will have until March 1, 2019, to complete the assessment.
           <br><br>
            Applications and assessment scores will be reviewed between March 4 and March 29. Final decisions will be communicated to each applicant by April 1.
            <br><br><br>
            <h4 class="rs-heading">If I am not selected for the Academy, will there be another Academy in the future?</h4>
            Yes, the CIO Council is sponsoring a second pilot in 2019 that will be open to all Federal employees, including IT professionals. There may be additional pilots after that. Please continue to visit this website for the most up-to-date information.
            <br><br><br>
            <h4 class="rs-heading">Am I guaranteed a cybersecurity position upon completion of the program?</h4>
            The Council cannot guarantee that individuals who complete the Academy will be offered jobs; however, graduates will develop the necessary skills and certification to apply for cybersecurity positions at Federal agencies. The program
            team will provide coaching and guidance to graduates to complete competitive applications for these positions.
            <br><br><br>
            <h4 class="rs-heading">If I am not selected for the Academy, what can I do to improve my cybersecurity knowledge and skills?</h4>
            There are a variety of free resources available online to help build cybersecurity knowledge. Online learning platforms often offer free or low-cost content that learners can take on-demand, at their own pace. In addition, the Federal
            Virtual Training Environment (FedVTE), hosted by the <b>National Initiative for Cybersecurity Careers and Studies</b>, offers training for free to government personnel and veterans. <a href="https://niccs.us-cert.gov/training/federal-virtual-training-environment-fedvte">https://niccs.us-cert.gov/training/federal-virtual-training-environment-fedvte</a>
            <br><br><br>
            <h4 class="rs-heading">Is there a cost for the Academy?</h4>
            The Academy is offered at no cost to students. Individuals are responsible for obtaining their supervisors’ approval for participation and must comply with their agency’s specific policies related to training. The Academy does not cover
            travel costs.
            <br><br><br>
            <h4 class="rs-heading">Do I need a laptop?</h4>
            Yes, a laptop is required and each course provides detailed laptop requirements.  Applicants are expected to bring their own laptop. Click on the links below to see laptop requirements.
            <br><br>
            SEC401: SANS Security Essentials
            <a href="https://www.sans.org/course/security-essentials-bootcamp-style#section_with_details_laptop_description">https://www.sans.org/course/security-essentials-bootcamp-style#section_with_details_laptop_description</a>
            <br><br>
            SEC504: Hacker Tools, Techniques, Exploits and Incident Handling
            <a href="https://www.sans.org/course/hacker-techniques-exploits-incident-handling#section_with_details_laptop_description">https://www.sans.org/course/hacker-techniques-exploits-incident-handling#section_with_details_laptop_description</a>
            <br><br><br>
            <h4 class="rs-heading">Do I need to talk to my supervisor prior to submitting an application? </h4>
            Yes, you will need your supervisor’s approval to attend the Academy and will be required to include your supervisor’s contact information on the application.
            <br><br><br>
            <h4 class="rs-heading">Will I be paid for the time off required to take the live course and will this cover any overtime pay?</h4>
            You and your supervisor should discuss the requirements for this program and ensure that you are able to fulfill the requirements. Each applicant is responsible for working with their supervisor to ensure compliance with each agency’s
            policies.
            <br><br><br>
            <h4 class="rs-heading">Where will the training take place?</h4>
            The training courses will be held at the U.S. Department of Education’s Lyndon Baines Johnson building at 400 Maryland Ave SW in Washington, DC.
            <br><br><br>
            <h4 class="rs-heading">I’m currently in Information Technology. Why can’t I apply?</h4>
            This is a reskilling Academy created to develop new talent to fill open cybersecurity positions in the government. The Academy allows the government to meet the growing need for cybersecurity and IT skills by finding high-potential
            talent among employees not working in IT or cybersecurity. The next cohort later in 2019 will be open to IT professionals. Please check cio.gov for more details.
            <br><br><br>
            <h4 class="rs-heading">Whom may I contact for more information? </h4>
            For more information on the Academy, please contact <a href="mailto:reskilling.academy@cio.gov">Reskilling.Academy@cio.gov</a>
            <br><br><br>
            <h4 class="rs-heading">I have a disability. Will this program provide accommodations for me? </h4>
            Yes, the Academy partners will provide accommodations. Please contact <a href="mailto:reskilling.academy@cio.gov">Reskilling.Academy@cio.gov</a> to discuss your needs.
            <br><br><br>
            <h4 class="rs-heading">If I am close to retirement from my current position, may I enroll?</h4>
            While you may apply for the Academy, you should discuss with your supervisor whether your agency may require a Continuing Service Agreement upon completion of the training.
            <br>
            <br>
            <br>
          </div>
          </div>
        </div>
  </section>
