---
layout: base
---


<picture>
  <source media="(min-width: 950px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header950.png">
  <source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header600.png">
  <source media="(min-width: 300px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header300.png">
  <img src=" {{ site.baseurl }}/assets/img/initiatives/reskilling-header950.png" alt="Federal Cyber Reskilling Academy" style="width:auto;">
</picture>
</div>
  <section class="usa-section" style="margin:0%;">
    <div class="usa-grid usa-content">
      <div class="usa-width-one-whole">
        <h2 class="rs-heading"><span class="rs-1">&gt; </span>Reskilling Cohort 2</h2>
        Cohort 2 of the Federal Cybersecurity Reskilling Academy was open to ALL Federal employees. Individuals who do not work in the IT field and have no IT experience were also welcome to apply.
        <br><br>
       The application closed on May 15, 2019. After submitting an initial application, all applicants were required to complete two assessments to determine their aptitude for the program. Assessments were sent on a rolling basis. All assessments were due by May 22, 2019 at 5pm.
        <br><br>
      The program notified selected participants beginning June 10, 2019. Cohort 2 training runs July 8 through September 20, 2019. See below for a full training timeline, a program schedule, and frequently asked questions.
        <br><br>
      <b>Thank you for your interest. Applications are now closed.</b>
        <br><br>
       <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
      <br><br>
        <h2 style="margin-top:0px;" class="rs-heading"><span class="rs-2">&gt; </span>Program Timeline</h2>

        <div class="page">
          <div class="page__demo">
            <div class="main-container page__container">
              <div class="timeline">
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">22</span>
                    <span class="timeline__month">Apr</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Apply</h4>
                      The application process will begin on April 22.
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">15</span>
                    <span class="timeline__month">May</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Application Deadline</h4>
                      The program will no longer accept applications after May 15.
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">22</span>
                    <span class="timeline__month">May</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Assessments</h4>
                      We will distribute assessments to applicants on a rolling basis. The assessment period ends May 22.
                    </div>
                  </div>
                </div>
                  <div class="timeline__box">
                    <div class="timeline__date">
                      <span class="timeline__day">10</span>
                      <span class="timeline__month">Jun</span>
                    </div>
                    <div class="timeline__post">
                      <div class="timeline__content">
                        <h4 class="rs-heading">Selection</h4>
                        The program will interview and select applicants. <br>We will notify applicants of their selection starting June 10. Participants must confirm their participation by June 21.
                  </div>
                      </div>
                    </div>
                    <div class="timeline__box">
                      <div class="timeline__date">
                        <span class="timeline__day">8</span>
                        <span class="timeline__month">Jul</span>
                      </div>
                      <div class="timeline__post">
                        <div class="timeline__content">
                          <h4 class="rs-heading">Training</h4>
                          Training will run from July 8 through September 20, 2019.
                        </div>
                      </div>
                    </div>
                    <div class="timeline__box">
                      <div class="timeline__date">
                        <span class="timeline__day">20</span>
                        <span class="timeline__month">Sep</span>
                      </div>
                      <div class="timeline__post">
                        <div class="timeline__content">
                          <h4 class="rs-heading">Graduation</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="usa-width-one-whole">
            <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
            <h2 class="rs-heading"><span class="rs-3">&gt; </span>Training Program Schedule</h2>
            <table class="rs-table" style="border-collapse: collapse; max-width: 100%; border: 0px solid #ffffff;border-bottom-color: #ffffff;
            border-bottom-style: solid;
            border-bottom-width: 0px;">
              <tr>
              <th class="rs-table-header">START DATE</th>
              <th class="rs-table-header">END DATE</th>
              <th class="rs-table-header">TRAINING</th>
              <th class="rs-table-header">LOCATION</th>
            </tr>
            <tr>
              <td class="rs-td">7/8/2019</td>
              <td class="rs-td">7/12/2019</td>
              <td class="rs-td">Linux Familiarization (non IT professionals only)</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
            <tr>
              <td class="rs-td">7/15/2019</td>
              <td class="rs-td">7/19/2019</td>
              <td class="rs-td">Sec Fund / Win Familiarization (non IT professionals only)</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
            <tr>
              <td class="rs-td">7/22/2019</td>
              <td class="rs-td">7/26/2019</td>
              <td class="rs-td">Self Study</td>
              <td class="rs-td"></td>
            </tr>
            <tr>
              <td class="rs-td">7/29/2019</td>
              <td class="rs-td">8/2/2019</td>
              <td class="rs-td">Protocol Analysis / Intrusion Detection</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
            <tr>
              <td class="rs-td">8/5/2019</td>
              <td class="rs-td">8/9/2019</td>
              <td class="rs-td">Incident Handling</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
            <tr>
              <td class="rs-td">8/12/2019</td>
              <td class="rs-td">8/16/2019</td>
              <td class="rs-td">Self Study</td>
              <td class="rs-td"></td>
            </tr>
            <tr>
              <td class="rs-td">8/19/2019</td>
              <td class="rs-td">8/23/2019</td>
              <td class="rs-td">Network Defense / Network Attack</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
                          <tr>
              <td class="rs-td">8/26/2019</td>
              <td class="rs-td">8/29/2019</td>
              <td class="rs-td">Network Attack / Practical Exercises</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
                          <tr>
              <td class="rs-td">9/2/2019</td>
              <td class="rs-td">9/6/2019</td>
              <td class="rs-td">Self Study</td>
              <td class="rs-td"></td>
            </tr>
                          <tr>
              <td class="rs-td">9/9/2019</td>
              <td class="rs-td">9/13/2019</td>
              <td class="rs-td">Capture The Flag / Refresher / CYBRScore Assessments</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
                          <tr>
              <td class="rs-td">9/16/2019</td>
              <td class="rs-td">9/20/2019</td>
              <td class="rs-td">King of the Hill / Refresher / CYBRScore Assessments</td>
              <td class="rs-td">Germantown, MD</td>
            </tr>
                                        <tr>
              <td class="rs-td">9/20/2019</td>
              <td class="rs-td">9/20/2019</td>
              <td class="rs-td">Graduation</td>
              <td class="rs-td">TBD</td>
            </tr>
          </table>
          * * Training will take place Monday through Friday. There will be no training over the weekend.  
            <br><br>
          </div>
          <div class="usa-width-one-whole">
            <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
            <h2 class="rs-heading"><span class="rs-1">&gt; </span>Frequently Asked Questions</h2>

            <h4 class="rs-heading">How much of my time will the Academy take up?</h4>
            The Academy is a three month program with eight weeks of in-person training and will be a full-time commitment during the live, in-person training classes in Germantown, MD. Participants will be expected to perform self-study between live classes, working through online material, completing labs, and studying for assessments. While individuals may work through the Academy’s on-demand materials at different speeds, we expect the Academy to be a full-time or nearly full-time commitment for the duration of the program. Please work with your supervisor to ensure that you can fulfill the Academy requirements.
            <br><br><br>
            <h4 class="rs-heading">When will I hear about my application status?</h4>
             We will review applications throughout May and June 2019. The admissions team may contact some applicants with additional questions or for a brief interview. We will notify all applicants of the status of their application by June 10.
            <br><br><br>
            <h4 class="rs-heading">What are the application dates?</h4>
            Applications will open on April 22, 2019, and close at 5:00pm EDT on May 15, 2019.
            <br><br><br>
            <!--<h4 class="rs-heading">I submitted my application; what’s next?</h4>
            After completing the application, applicants will receive an automated notification confirming that they submitted the application. Shortly after, applicants will receive invitations to complete two online assessments. Applicants must complete these assessments by 5:00pm EDT on May 22, 2019.
           <br><br>-->
            The Academy will review applications and assessment scores through June 10, 2019. We will communicate final decisions to each applicant beginning on June 10, 2019.
            <br><br><br>
            <h4 class="rs-heading">If I am not selected for the Academy, will there be another Academy in the future?</h4>
             The CIO Council will evaluate the success of the first two cohorts of the Reskilling Academy to determine what additional opportunities may be available in the future. Please continue to visit this website for the most up-to-date information.
            <br><br><br>
            <h4 class="rs-heading">Am I guaranteed a cybersecurity position upon completion of the program?</h4>
            The Council cannot guarantee that individuals who complete the Academy will be offered jobs; however, graduates will develop the necessary skills and certification to apply for cybersecurity positions at Federal agencies. The program
            team will provide coaching and guidance to graduates to complete competitive applications for these positions.
            <br><br><br>
            <h4 class="rs-heading">If I am not selected for the Academy, what can I do to improve my cybersecurity knowledge and skills?</h4>
            There are a variety of free resources available online to help build cybersecurity knowledge. Online learning platforms often offer free or low-cost content that learners can take on-demand, at their own pace. In addition, the Federal Virtual Training Environment (FedVTE), hosted by the National Initiative for Cybersecurity Careers and Studies, offers training for free to government personnel and veterans. <a href="https://niccs.us-cert.gov/training/federal-virtual-training-environment-fedvte">https://niccs.us-cert.gov/training/federal-virtual-training-environment-fedvte</a>
            <br><br><br>
            <h4 class="rs-heading">Is there a cost for the Academy?</h4>
            The Academy is offered at no cost to students. Individuals are responsible for obtaining their supervisor’s approval for participation and must comply with their agency’s specific policies related to training. The Academy does not cover travel costs.
            <br><br><br>
            <h4 class="rs-heading">Do I need a laptop?</h4>
            Yes, a laptop is required for the self-study portion of the course. Only an up-to-date browser is required for connection to the lab environment. Applicants will receive a Desktop workstation for the in-person portion of the Cohort on location in Germantown, MD.
            <br><br><br>
            <h4 class="rs-heading">Do I need to talk to my supervisor prior to submitting an application? </h4>
            Yes, you will need your supervisor’s approval to attend the Academy and must include your supervisor’s contact information on the application.
            <br><br><br>
            <h4 class="rs-heading">Will I be paid for the time off required to take the live course and will this cover any overtime pay?</h4>
           You and your supervisor should discuss the requirements for this program and ensure that you are able to fulfill the requirements. Each applicant is responsible for working with their supervisor to ensure compliance with each agency’s policies.
            <br><br><br>
            <h4 class="rs-heading">Where will the training take place?</h4>
           The training courses will be held at the Comtech Telecommunication Systems Facility at 20430 Century Blvd, Germantown, MD 20874.
            <br><br><br>
           <!-- <h4 class="rs-heading">I’m currently in Information Technology. Why can’t I apply?</h4>
            This is a reskilling Academy created to develop new talent to fill open cybersecurity positions in the government. The Academy allows the government to meet the growing need for cybersecurity and IT skills by finding high-potential
            talent among employees not working in IT or cybersecurity. The next cohort later in 2019 will be open to IT professionals. Please check cio.gov for more details.
            <br><br><br>-->
            <h4 class="rs-heading">Whom may I contact for more information? </h4>
            For more information on the Academy, please contact <a href="mailto:reskilling.academy@cio.gov">Reskilling.Academy@cio.gov</a>
            <br><br><br>
            <h4 class="rs-heading">I have a disability. Will this program provide accommodations for me? </h4>
            Yes, the Academy partners will provide accommodations. Please contact <a href="mailto:reskilling.academy@cio.gov">Reskilling.Academy@cio.gov</a> to discuss your needs.
            <br><br><br>
            <h4 class="rs-heading">If I am close to retirement from my current position, may I enroll?</h4>
            While you may apply for the Academy, you should discuss with your supervisor whether your agency may require a Continuing Service Agreement upon completion of the training.
            <br>
            <br>
            <br>
          </div>
          </div>
        </div>
  </section>
