---
layout: base
---


<picture>
  <source media="(min-width: 950px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header950.png">
  <source media="(min-width: 600px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header600.png">
  <source media="(min-width: 300px)" srcset="{{ site.baseurl }}/assets/img/initiatives/reskilling-header300.png">
  <img src=" {{ site.baseurl }}/assets/img/initiatives/reskilling-header950.png" alt="Federal Cyber Reskilling Academy" style="width:auto;">
</picture>
</div>
  <section class="usa-section" style="margin:0%;">
    <div class="usa-grid usa-content">
      <div class="usa-width-one-whole">
        <h2 class="rs-heading"><span class="rs-1">&gt; </span>The Vision</h2>
    The Federal Cybersecurity Reskilling Academy offers Federal employees the opportunity for hands-on training in cybersecurity, one of the fastest growing fields in the country. This reskilling effort is part of the Administration’s commitment to developing a Federal workforce of the 21st century, as outlined in the <a href="https://www.performance.gov/PMA/PMA.html">President's Management Agenda</a> and the recent Government Reform Plan.
        <br><br>
        The inaugural class was made up of current Federal employees who do not work in the IT field and was designed to help them build foundational skills in the field of Cyber Defense Analysis. The second cohort was open to all Federal employees, including those working in IT.
        <h2 class="rs-heading"><span class="rs-2">&gt; </span>The Program</h2>
       The Federal Cybersecurity Reskilling Academy is a series of professional development opportunities that provide cybersecurity training to Federal employees. The curriculum and exact training schedule varies by cohort, but every opportunity will consist of a mixture of direct instruction, hands-on learning and labs, and period assessments to track participants’ learning progress.
        <br><br>
        Additionally, Academy participants may complete extracurricular activities and exercises to enhance their learning and skills development, such as online games and cyber competitions. Participants receive career mentorship and soft skills guidance to help them prepare for re-deploying into the cybersecurity workforce.
        <br><br><br>
        <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak.png" class="rs-img">
    </div>
        <div class="usa-width-one-half" style="padding-top: 4rem;">
          <h2 class="rs-heading"><span class="rs-3">&gt; </span>Cohort 1</h2>
          <p>Visit the Cohort 1 page for more information on this training program.</p>
          <ul>
            <li>Selection for Cohort 1 is complete. Thank you for your interest!</li>
            <li>Training runs April 15 through July 14, 2019.</li>
            <li>Cohort 1 was open to Federal employees who do not currently work in IT.</li>
          </ul>
          <a class="usa-button" href="{{ site.baseurl }}/reskilling-cohort-1/">Learn more about Cohort 1</a>
        </div>
        <div class="usa-width-one-half" style="padding-top: 4rem;">
          <h2 class="rs-heading"><span class="rs-3">&gt; </span>Cohort 2</h2>
          <p>Visit the Cohort 2 page for more information on this training program.</p>
          <ul>
            <li>The application period opened on April 22 and closed on May 15, 2019 at 5 pm.</li>
            <li>Applicants were required to complete two online assessments no later than May 22, 2019 at 5 pm.</li>
            <li>Selected participants were notified beginning June 10, 2019. </li>
            <li>Training runs July 8 through September 20, 2019.  Eight weeks of in-classroom training over three months. </li>
            <li>All Federal Executive Branch employees were able to apply. <b>APPLICATIONS ARE NOW CLOSED</b>.</li>
          </ul>
           <a class="usa-button" href="{{ site.baseurl }}/federalreskilling-cohort-2/">Learn more about Cohort 2</a>
        </div>
      </div>
  </section>
