---
layout: base
---

<section>
  <div class="usa-hero" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section hero-styling">
        <h2 style="font-family: 'Raleway', sans-serif; COLOR: #2d2d2d; font-size: 30px; text-align: left;">{{ page.hero-text }}</h2>
        <h4 style="COLOR: #2d2d2d; font-size: 14px; text-align: left;">{{ page.hero-byline }}</h4>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>
<section class="usa-section usa-section-dark">
  <div class="usa-grid usa-graphic_list-row">
    <h2>CIO Council Priorities</h4><br>
    <div class="usa-width-one-half usa-media_block">
      <A HREF="{{site.baseurl}}/priorities/tbm/">
        <IMG class="usa-media_block-img" SRC="assets/img/priorities/cio.priority.png" border=0 alt="CIO Priority - TBM" height=117 width=115>
      </A>
      <div class="usa-media_block-body">
        <a href="{{site.baseurl}}/priorities/tbm/"><h3 style="margin-top:0px">Technology Business Management</h3></a>
        <p>
          Federal Agencies are currently at various stages of implementing TBM. The CIO Council, the General Services Administration (GSA), and the Office of the Federal CIO (OFCIO) are committed to guiding agency adoption of TBM.</p>
      </div>

    </div>
    <div class="usa-width-one-half usa-media_block">
      <A HREF="{{site.baseurl}}/priorities/pma/">
        <IMG SRC="assets/img/priorities/ciopriority_pma_2.png" class="usa-media_block-img" border=0 alt="CIO Priority - President's Management Agenda" height=117 width=115>
      </A>
      <div class="usa-media_block-body">
        <a href="{{site.baseurl}}/priorities/pma/"><h3 style="margin-top:0px">President's Management Agenda</h3></a>
        <p>The CIO Council, in collaboration with the other CXO communities, will play a leading role in working to fulfill a number of CAP goals outlined by the PMA.</p>
      </div>
    </div>
  </div>
</section>

<section class="usa-section-light usa-section">
  <div class="usa-grid">
    <h2>Recent Blog Posts</h2><br> {% include home-recentblogs.html %}
  </div>
</section>
<section class="usa-section section-border">
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <h2>C-Suite Quarterly Newsletter</h2>
    </div>
    <div class="usa-width-two-thirds">
      Sign up for C-Suite Quarterly, a quarterly update on management priorities, transformation success stories, and tools and information to help agencies improve performance.
      <div role="form">
          <form id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="ZhCoiMxoWiSHeJTiR19j3v2+S7Z6oMVPNTy2Ytiv7ukUos3n+vi5J/Fc0MG7tmBSLdsHmRfj02xB0ztqUS0YWQ==" />
            <input type="hidden" name="topic_id" id="topic_id" value="USGSA_512" />
              <ol class='form'>
                <li class='email_fields' style='display: block; float:left; margin: 0px;'>
                  <input type="text" name="email" id="email" placeholder="Email" style="width: 100%;"/>
                </li>
              </ol>
              <button type="submit" name="commit" style="display:block; float:left; margin: 0px; margin: 5px 0px 0 2rem; padding: .5em 2em">
                <span>Sign Up</span>
              </button>
        </form>
      </div>
    </div>
  </div>
</section>
