---
layout: base
---
<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: 200px;">
    <section class="usa-grid usa-section">
        <div  style="position: absolute; bottom: 0;">
        <h1 style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 42px; align: left;">{{ page.hero-text }}</h1>
        </div>
      </section>
  </div>
</section>
<section class="usa-section">
<div class="usa-grid">
  <div class="usa-width-three-fourths">
    {{ content }}
  </div>
  <div class="usa-width-one-fourth">
    <a class="usa-button" href="{{ page.attachment | prepend: site.baseurl }}">Download Mindmap PDF</a>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-width-one-whole">
   {% include mind-map.html %}
  </div>
</div>
</section>

 




 {% include quick.links.html %}
